/*General Styles*/
*{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    text-align: justify;
    background-color: rgb(40, 55, 71);
}

h1{
    font-size: larger;
    color: rgb(123, 36, 28);
    text-align: center;
    margin-top: 0.5%;
    padding-top: 2%;
}

.divContainer{
    background-color: white;
}

/*Header styles*/
header{
    padding-left: 1%; 
    margin-right: 1%;
}

/*Section styles*/

.divCenter{
    text-align: center;
}

.divLeft{
    text-align: left;
    padding-left: 0.55%;
}

.divInline{
    display: inline;
}

/*Images Styles*/
.imgConf{
    width: 19.5%;
}

.imgConf:hover{
    width: 19.51%;
    border: 3px rgb(123, 36, 28) solid;
    opacity: 75%;
}

/*Buttons Styles*/

button{
    width: 19.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color:white;
    font-weight: bold;
}

/*Labels Styles*/
.labelConf{
    background-color: rgb(40, 55, 71);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: white;
}

.labelGuppyFish{
    padding-left: 6.63%;
    padding-right: 6.63%;
}

.labelWhiteShark{
    padding-left: 6.3%;
    padding-right: 6.3%;
}

.labelMarineJellyfish{
    padding-left: 5.45%;
    padding-right: 5.45%;
}

.labelGoldfish{
    padding-left: 7.35%;
    padding-right: 7.35%;
}

.labelSiameseFightingFish{
    padding-left: 3.7%;
    padding-right: 3.7%;
}

/*Footer Styles*/
footer{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    background-color: rgb(17, 122, 101);
}

.divFooter{
    display: inline;
    width: 50%;
}

/*Guppy styles*/
video{
    width: 48%;
}

.sectionMargin{
    padding-left: 1%; 
    margin-right: 1%;
}

table{
    width: 100%;
}

td{
    width: 50%;
}

/*Animation styles*/

span{
    opacity: 0;
    transition-delay: 1s;
    transition: all 0.5s easy;
}

span.fade{
    opacity: 1;
}